<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Erro</title>
</head>
<body>
    <h1>Erro</h1>
    <h1><span th:text="${status}"/> - <span th:text="${error}"/></h1>
    <table>
        <tr>
            <td>Mensagem: </td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Caminho: </td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Timestamp: </td>
            <td th:text="${timestamp}"/>
        </tr>
    </table>
</body>
</html>
